    <!--FOOTER PARA COPIAR EN SUS HTML(INCLUIR EL "COPYRIGHT" QUE ESTÁ POR FUERA)-->
    <footer class="contenedor-footer">

        <p class="pfinal"> <i class="fa-solid fa-at"></i> <a  class="ultimo" href= "mailto:mdhl@chihockey.org" target="_blank"> <b>vueltaalmundo@vuelos.com </b></a></p>

        <P class="pfinal1" > <i class="fa-solid fa-phone"></i> <a class="ultimo" href="tel:3512540085"> <b> 3512540085 </b></a></P>

        <p class="pfinal2" ><i class="fa-solid fa-map-pin"></i> <a  class="ultimo" href="https://www.google.com.ar/maps/@-34.605646,-58.781371,9.75z/data=!4m2!7m1!2e1"> <b>Bs.As</b> </a> </p>
     
    </footer>
         <p class="copy">Copyright © 2022 </p>

    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>  