<header>
    <div class="div-logo" >
    <img  src="/img/logo-transparente.png" alt="Logo de la empresa">
    </div>
    

    <section >
       <img  class="banner" src="/img/wingBanner.jpg" alt="banner">
    </section> 
    
    <nav class="navBar">
            <a class="barra1" href="/" >Incio</a>
            <a class="barra3" href="productDetail">Viajes</a>
            <a class="barra4" href="productCart"> Carrito</a>
            <a class="barra2" href="register">Registro</a>
            <a class="barra5" href="login">Login</a>
    </nav>
    
</header>
