<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/CSS/normalize.css"> <!--Estilos de letras; pequé el normalize en carpeta CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"><!--Estilos de letras-->
    
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script> <!--iconos-->
    <link rel="stylesheet" href="/CSS/footer.css">
    <link rel="stylesheet" href="/CSS/index.css">
    
</head>

<body class="body-container">

    <header class="header-container">

        <div class="div-logo" >
            <img  src="/img/logo-transparente.png" alt="Logo de la empresa">
            
            <nav class="nav-bar">
                <a class="barra1" href="#" >Incio</a>
                <a class="barra3" href="productDetail">Viajes</a>
                <a class="barra4" href="productCart"> Carrito</a>
                <a class="barra2" href="register">Registro</a>
                <a class="barra5" href="login">Login</a>
            </nav>
            
        </div>

            <section class="banner-sec" >
                <img  class="banner" src="/img/wingBanner.jpg" alt="banner">

                <div class="donde"> 
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input class="holder" type="text" placeholder="¿A dónde?"> 
                    <i class="fa-solid fa-plane-up"></i>
                </div>

             </section> 
        
    </header>
    
    <main class="portada">

        <section class="viajo-xq">

            <div><h4>Aquello que soñas al alcancce de un click</h4></div>

            <div class="frase"> 
                "La puerta a tu destino soñado"
            </div>

            <div class="descripcion">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia reprehenderit est aliquid maiores quae optio quas impedit. Omnis cumque iusto quasi cum eius voluptate sed, quisquam sint, nulla corrupti soluta!</p>
            </div>

        </section>

        <section class="ofertas">
            
               <p><h4>Ofertas que no pueden esperar</h4></p> 
           
            <nav class="nav-ofertas">

                <div>

                    <img class="imagen-destino-Salta" src="/img/salta.jpg" alt="">
                    <p class="exito">Éxito en ventas</p>
                    <h3>Salta</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <div class="ec-stars-wrapper">
                        <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                        <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                        <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                        <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                        <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                    </div>
                    <p>Desde 14977$ por adulto</p>

                </div>

                <div>

                    <img class="imagen-destino" src="/img/cumbresita.jpg" alt="">
                    <p class="exito">Éxito en ventas</p>
                    <h3>Cordoba</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <div class="ec-stars-wrapper">
                        <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                        <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                        <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                        <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                        <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                    </div>
                    <p>Desde 14977$ por adulto</p>

                </div>

                <div>

                    <img class="imagen-destino" src="/img/obelisco.png" alt="">
                    <p class="exito">Éxito en ventas</p>
                    <h3>Buenos Aires</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <div class="ec-stars-wrapper">
                        <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                        <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                        <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                        <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                        <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                    </div>
                    <p>Desde 14977$ por adulto</p>

                </div>

            </nav>

        </section>

        <section class="tarjetas">

            <div>
                <p>Financiación</p> 
            </div>

            <div>
                <img src="https://d464899030a712a470caf4c7.azureedge.net/media/2021-10/TN.svg" class="styled__Image-sc-54mmfj-7 jWmzkZ">

            </div>

            <div>
                <img src="https://d464899030a712a470caf4c7.azureedge.net/media/2019-05/cabal.svg" class="styled__Image-sc-54mmfj-7 jWmzkZ">
            </div>

            <div class="tarjeta-oculta">
                <img src="https://d464899030a712a470caf4c7.azureedge.net/media/2020-02/bancocredicoop_0.svg" class="styled__Image-sc-54mmfj-7 jWmzkZ">
            </div>

            <div class="tarjeta-oculta">
                <img src="https://d464899030a712a470caf4c7.azureedge.net/media/2021-11/Logo%20Patagonia%20365.svg" class="styled__Image-sc-54mmfj-7 jWmzkZ">
            </div>

            <div>
            <a href="#"><svg class="styled__StyledIcon-sc-16zg1y5-0 oluZr" width="23" height="23" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" version="1.1"><g><path d="M8.59,16.59L13.17,12L8.59,7.41L10,6l6,6l-6,6L8.59,16.59z"></path></g></svg></a> 
            </div>

        </section>

        <section class="recomendados">

            <p class="experiencias-ValM">Los destinos mas recomendados por viajeros de "Vuelta al mundo"</p>
            <nav class="nav-destinos">
                <div class="card">

                    <img class="imagen-destino-Salta" src="/img/salta.jpg" alt="">
                    <p class="exito">Éxito en ventas</p>
                    <h3>Salta</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <div class="ec-stars-wrapper">
                        <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                        <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                        <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                        <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                        <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                    </div>
                    <p>Desde 14977$ por adulto</p>

                </div>

                <div class="card">

                    <img class="imagen-destino" src="/img/cumbresita.jpg" alt="">
                    <p class="exito">Éxito en ventas</p>
                    <h3>Cordoba</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <div class="ec-stars-wrapper">
                        <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                        <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                        <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                        <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                        <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                    </div>
                    <p>Desde 14977$ por adulto</p>

                </div>

                <div class="card">

                    <img class="imagen-destino" src="/img/obelisco.png" alt="">
                    <p class="exito">Éxito en ventas</p>
                    <h3>Buenos Aires</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <div class="ec-stars-wrapper">
                        <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                        <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                        <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                        <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                        <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                    </div>
                    <p>Desde 14977$ por adulto</p>

                </div>

                <div class="card">

                    <img class="imagen-destino-Salta" src="/img/salta.jpg" alt="">
                    <p class="exito">Éxito en ventas</p>
                    <h3>Salta</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <div class="ec-stars-wrapper">
                        <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                        <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                        <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                        <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                        <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                    </div>
                    <p>Desde 14977$ por adulto</p>

                </div>

                <div class="card">
                    
                    <img class="imagen-destino" src="/img/cumbresita.jpg" alt="">
                    <p class="exito">Éxito en ventas</p>
                    <h3>Cordoba</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <div class="ec-stars-wrapper">
                        <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                        <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                        <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                        <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                        <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                    </div>
                    <p>Desde 14977$ por adulto</p>

                </div>

                <div class="card">

                    <img class="imagen-destino" src="/img/obelisco.png" alt="">
                    <p class="exito">Éxito en ventas</p>
                    <h3>Buenos Aires</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <div class="ec-stars-wrapper">
                        <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                        <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                        <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                        <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                        <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                    </div>
                    <p>Desde 14977$ por adulto</p>

                </div>
                
                <div class="card">

                    <img class="imagen-destino-Salta" src="/img/salta.jpg" alt="">
                    <p class="exito">Éxito en ventas</p>
                    <h3>Salta</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <div class="ec-stars-wrapper">
                        <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                        <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                        <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                        <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                        <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                    </div>
                    <p>Desde 14977$ por adulto</p>

                </div>

                <div class="card">

                    <img class="imagen-destino" src="/img/cumbresita.jpg" alt="">
                    <p class="exito">Éxito en ventas</p>
                    <h3>Cordoba</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <div class="ec-stars-wrapper">
                        <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                        <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                        <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                        <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                        <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                    </div>
                    <p>Desde 14977$ por adulto</p>

                </div>
            
            </nav>

        </section>

        <div class="redes">
                
            <a href="nosotros">¿Quiénes somos?</a>
            <a href="https://www.instagram.com/willy_pavonmori">Instagram</a>
            <a href="https://www.tiktok.com">TikTok</a>
       
        </div>

   </main>


    <footer class="contenedor-footer">

        <p class="pfinal"> <i class="fa-solid fa-at"></i> <a href= "mailto:mdhl@chihockey.org" target="_blank">mdhl@chihockey.org</a></p>

        <P class="pfinal1" > <i class="fa-solid fa-phone"></i> <a href="tel:3512540085"> 3512540085</a></P>

        <p class="pfinal2" ><i class="fa-solid fa-map-pin"></i> <a href="https://www.google.com.ar/maps/@-34.605646,-58.781371,9.75z/data=!4m2!7m1!2e1"> Bs.As </a> </p>

    </footer>

    <p class="copy">Copyright © 2022 </p>

    
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>


</body>

</html>










<!--primer HEADER-->
<!--
        <div class="div-logo" >
        <i class="fa-solid fa-bars"></i>
        <img  src="/img/logo-transparente.png" alt="Logo de la empresa">
        <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        
        <nav class="nav-1">

            <div>
                <button class="pack1" type="submit">
                    <a href="producto">Paquetes individuales</a>
                    <i class="fa-solid fa-plane-up"></i>
                </button>
            </div>

            <div>
                <button class="pack2" type="submit">
                    <a href="producto">Paquetes familiares</a>
                    <i class="fa-solid fa-plane-up"></i>
                </button>
            </div>

            <div>
                <button class="pack3" type="submit">
                    <a href="producto">Viajes periódicos</a>
                    <i class="fa-solid fa-plane-up"></i>
                </button>
            </div>

        </nav>

        <section >
            <img  class="banner" src="/img/banner.jpg" alt="banner">
         </section> 

        <nav class="nav-2">
                <a class="barra1" href="home" >Home</a>
                <a class="barra2" href="registro">Registro</a>
                <a class="barra3" href="producto">Producto</a>
                <a class="barra4" href="carrito"> Carrito de Compras</a>
                <a class="barra5" href="login">Login</a>
        </nav>
    -->



    <!--primer FOOTER-->
    <!-- agregue esto: lo confirmamos en el proximo daily(Guille)
    <div class="legales"> 
        <a href="Terminos y condiciones">Terminos y condiciones</a>
        <a href="Información legal">Información legal</a>
        <a href="Mapa del sitio">Mapa del sitio</a>
        </div>
agregue esto: lo confirmamos en el proximo daily(Guille)

        <div>
            <a href="nosotros">¿Quiénes somos?</a>
            <a href="https://www.instagram.com/willy_pavonmori">Instagram</a>
            <a href="https://www.tiktok.com">TikTok</a>
           enlaces a redes sociales

            <p class="pfinal"> <i class="fa-solid fa-at"></i> <a href= "mailto:mdhl@chihockey.org" target="_blank">mdhl@chihockey.org</a></p>

            <P class="pfinal1"><i class="fa-solid fa-phone"></i> <a href="tel:3512540085"> 3512540085</a></P>

            <p class="pfinal2"><i class="fa-solid fa-map-pin"></i> <a href="https://www.google.com.ar/maps/@-34.605646,-58.781371,9.75z/data=!4m2!7m1!2e1"> Bs.As </a> </p>

        </div>
    -->
      <!--  <footer class="footer">
        <a href="Terminos y condiciones">Terminos y condiciones</a>
        <a href="Información legal">Información legal</a>
        <a href="Mapa del sitio">Mapa del sitio</a>
    </footer>
-->


<!-- IMAGEN LOGO WAPP
     <img id="whatsapp_flotante" src="/static/media/whatsapp-sticky.9f8c90d6.svg" class="home__WhatsappIconContainer-sc-19uh93n-0 eQToVd"> -->