<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pàgina de LOGIN</title>
    <link rel="stylesheet" href="/css/login.css">
   
</head>
<body>

    <%- include('./partials/header') %> 
    
    <main>
        <h2>Formulario de Log In</h2>
        <form class="pform" action="register.html" method="GET">
            
        
            <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" required>
            
       
            <input type="password" name="Contraseña" id="password" placeholder="Contraseña" required>

         <div class="contenedor-botones">
        

            <a href="login" class="button-enviar">Iniciar sesión</a>
        </div>

           
 
           
            </form>
                
            
    </main>

    <%- include('./partials/footer') %> 
    
    
</body>
</html>