<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleproducto.css">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
       <h1>Destinos</h1>

      
       

            <article class="box-article">
              
                
                    <div class="box-product">
                        <img src="/img/calles-de-salta.jpg" class="img-product">
                      
                        <div class="descripcion-producto">

                            
                           
                          <!--  <h2>Salta</h2>   -->                    
                            <p><b>
                              
                                La provincia de Salta posee un clima benigno y los encantos indicados para ser una de las más visitadas por los turistas durante todo el año. 
                                A sus bellezas naturales, que se pueden apreciar en las distintas regiones que alberga, se suma la diversidad de sus habitantes, 
                                que encandila a quienes se acerquen hasta allí por sus tradiciones y costumbres, algunas seculares.
                                <br>
                                <br>
                                Salta Capital es ideal para alojarse en ella y disfrutarla desde el mismo momento en que salimos del hotel y comenzamos a caminarla. 
                                Museos, iglesias, edificios históricos, plazas con sus cafés y paseos varios nos permiten ver la influencia colonial, 
                                que se aprecia en la arquitectura y en uno de los cascos históricos más protegidos de Argentina. Aquí sin dudas, el pasado se preserva. 
                                <br>
                               <br>
                                Al oeste, la Cordillera de los Andes y la Puna, con su increíble viaducto La Polvorilla y el Tren de las Nubes. 
                                Al sur, los Valles Calchaquíes. Al norte, el Chaco Salteño, cuyos verdes interminables la asemejan a la mismísima selva misionera.
                                <br>
                               <br>
                                Única en paisajes, a cada sitio inigualable se suma su excelencia gastronómica que se manifiesta en sabores, colores y aromas propios de esta región del mundo. 
                                Aquí el "comino" es oro y tal es la bondad de los salteños que locros, tamales y empanadas tienen parte de este bello tesoro.
                                <br></b>
                           
                                <div class="boton">
                                <a href="carrito" class="boton-quiero">SALTA</a>
                               </div>
                        </div>
                    </div>
                    
                    <div class="box-product">
                        <img src="/img/bariloche-otoño.jpg" class="img-product">
                      
                        <div class="descripcion-producto">

                            
                           
                          <!--  <h2>Salta</h2>   -->                    
                            <p><b>
                                 Bariloche es una de las ciudades más pobladas de la provincia de Río Negro  y uno de los centros turísticos de mayor importancia dentro de la República Argentina, pero aún conserva la idiosincrasia de un pueblo de montaña. 
                                Todavía en sus calles se respira aire puro. Se encuentra a las orillas del Lago Nahuel Huapi,  el lago nos confronta con la inmensidad desde cualquier punto de la ciudad, la cual,
                                 cuenta con una amplia diversidad de servicios, extendida a las cuatro estaciones, y una experiencia turística de ocho décadas, sostenida en una importante infraestructura de hoteles de todas las categorías.
                                 
                                <br>
                                <br>
                                Surge a orillas del lago Nahuel Huapi, vecina a la Cordillera de los Andes. 
                                La ciudad está ubicada dentro del Parque Nacional Nahuel Huapi, famoso por sus impresionantes lagos, la base de numerosas pistas de senderismo, esquí y 
                                montañas.
                                <br>
                               <br>
                               Visitando Bariloche tendrá la posibilidad de conocer lugares como El Bolsón, El Hoyo, Lago Puelo, Cholila, Villa La Angostura, San Martín de los Andes, Esquel, Trevelin, Futaleufu, La Trochita, entre otros. 
                               Caminar por los senderos de los bosques sigue siendo una maravillosa experiencia para estar a solas con uno mismo y en armonía con la naturaleza, lejos del estrés y la contaminación de las grandes ciudades.
                                En temporada de invierno podrá disfrutar de juegos en la nieve, ski alpino, de fondo, paseos en trineo, snowboard, parapente, etc.
                               </b>
                             </p>
                                <div class="boton">
                                <a href="carrito" class="boton-quiero">BARILOCHE</a>
                               </div>
                        </div>
                    </div>
                    
                    <div class="box-product">
                        <img src="/img/cordoba.jpg" class="img-product">
                      
                        <div class="descripcion-producto">

                            
                           
                          <!--  <h2>Salta</h2>   -->                    
                            <p><b>
                              
                                Córdoba Capital, la ciudad homónima de la provincia y su centro político, donde a diario se respira la idiosincrasia y la filosofía del pueblo cordobés.
                                <br>
                                Villa Carlos Paz es el imán del verano y uno de los principales centros receptivos del país durante toda la temporada estival,
                                no sólo debido a sus increíbles atractivos naturales sino también a la gran cantidad de espectáculos teatrales que allí se ofrecen.
                                <br>
                                <br>

                                Cada mes de octubre, la mirada de los visitantes se posa en Villa General Belgrano, cuya Fiesta Nacional de la Cerveza atrae a entusiastas de toda la Argentina y del mundo.
                                <br>
                                <br>
                                En la muy cordobesa ciudad de Cosquín, capital nacional del folklore, se destaca precisamente su festival de música y bailes típicos de nuestra tradición, pero también el más reciente festival Cosquín Rock.
                                <br>
                                <br>

                                Córdoba posee caminos deslumbrantes que atraviesan los distintos sistemas de sierras, como las famosas Sierras Chicas, las Sierras Grandes, 
                                Traslasierra y el Camino de las Altas Cumbres, todos ideales para descubrir otras ciudades imperdibles como La Cumbre, Nono, Mina Clavero, Cura Brochero, Jesús María,
                                La Falda, Alta Gracia, Santa Rosa de Calamuchita y Río Ceballos.
                                <br>
                                <br>
                                Los fanáticos de los fenómenos paranormales tienen su espacio convocante en el Cerro Uritorco, cercano a Capilla del Monte, famosa por sus rarezas y por tener la primera calle techada del país.
                                Diques y embalses, atractivos naturales e histórico-culturales, a lo que se suman un clima prodigioso, hacen de la provincia de Córdoba una de las más significativos a nivel turístico.
                                Quizás porque lo tiene todo, y porque día a día sorprende con algo nuevo por descubrir en sus interminables rincones
                                <br></b>
                                </p>
                                <div class="boton">
                                <a href="carrito" class="boton-quiero">CORDOBA</a>
                               </div>
                        </div>
                    </div>
                    
                    <div class="box-product">
                        <img src="/img/obelisco.png" class="img-product">
                      
                        <div class="descripcion-producto">

                            
                           
                          <!--  <h2>Salta</h2>   -->                    
                            <p><b>
                              
                                Buenos Aires, encierra paisajes muy diferentes entre sí, como el campo, las sierras, las grandes urbes, las lagunas, el delta del Paraná y,
                                por supuesto, todo el abanico de playas que se extiende por la costa atlántica. Es ideal para el turismo.
                                <br>
                                <br>
                                Ciudades como La Plata, Mar del Plata, Tres Arroyos, Azul, Trenque Lauquen, Luján, Belén de Escobar o la sureña Bahía Blanca, 
                                todas poseen los atractivos comunes a las grandes urbes, y pequeños espacios propios que las distinguen.
                                <br>
                                <br>
                                Entre las ciudades de este ámbito existen algunas que desde hace tiempo abrieron las puertas al turismo: San Antonio de Areco y Mercedes son sólo dos de las más conocidas.
                                Para los que prefieren armonizar un día de campo con la cercanía del agua, lo ideal es conocer la región de las lagunas. 
                                Cercanas a la Capital Federal, las encadenadas de Chascomús, San Miguel del Monte, Lobos o Navarro son las que atraen turistas en todas las temporadas,
                                ya sea para dedicarse a la pesca del pejerrey en invierno, como para practicar deportes acuáticos con la llegada del calor.
                                <br>
                                <br>
                                
                                
                                Por todo esto, la provincia de Buenos Aires es uno de los destinos preferidos al emprender un viaje.</b>
                                </p>
                                <div class="boton">
                                <a href="carrito" class="boton-quiero">BUENOS AIRES</a>
                               </div>
                        </div>
                    </div>
                  
          
    </main>

    <%- include('./partials/footer') %> 
    
</body>
</html>