<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/CSS/normalize.css"> <!--Estilos de letras; pequé el normalize en carpeta CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"><!--Estilos de letras-->
    
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script> <!--iconos-->
    <link rel="stylesheet" href="/CSS/quienesSomos.css">
</head>

<body>
    <main>
        <img src="/img/ElGrupo7.jpg" alt="FotoNosotros">
    </main>
</body>
<p>"Grupo 7 Proyecto integrador"</p>
</html>