.div-logo img{
    width: 200px;
    margin-top: 2rem;
   }
   .div-logo{
    background-color: rgb(178, 212, 235);
    color: rgb(0, 0, 0);
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 0.1rem;
   }

   .barra1,
   .barra2,
   .barra3,
   .barra4,
   .barra5,
   .barra6{
    text-decoration: none;
    background-color:aquamarine;
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    margin: 0.62rem;
    border-radius: 1rem;
    box-shadow: 0.12rem 0.12rem rgb(29, 144, 221);
    display: inline-flex;
    justify-content: flex-end;
    }

    .barra1:hover,
    .barra2:hover,
    .barra3:hover,
    .barra4:hover,
    .barra5:hover{
        color: blue;
        
    }
    .banner{
   width: 100%;
   height: 230px;
    }

    
    .navBar{  /*esta clase se la agregue a la etiqueta nav, para no usarla por etiqueta*/
        background-color: rgb(178, 212, 235);
        padding: 1rem;
        border-radius: 1rem;
        text-align: center;
        }
   .nav-reg{
    background-color: rgb(25, 168, 224);
   
    }


    @media  (max-width:425px){
        nav{
            background-color: rgb(64, 120, 240);
            margin: 0;
            font-size: 10px;
        }
    
        
    .barra1,
       .barra2,
       .barra3,
       .barra4,
       .barra5,
       .barra6{
        
        margin: 0.15rem;
        justify-content: center;
        font-size: 12px;
        }
    }

/*probar*/
